* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}


:root {
      --primary: #C02F2E;
      --black: #030303;
      --white: #f0EEEB;
}

body {
      color: var(--white);
      font-family: Poppins, NOVA, Poppins, sans-serif;
      font-size: 18px;
}